---
// Importamos los componentes necesarios
import Layout from "../Layouts/Layouts.astro";
import TechCard from "../Components/TechCard.astro";
import ProjectCards from "../Components/ProjectCards.astro";

// Importamos la función para obtener los proyectos desde los archivos MDX
import { getCollection } from "astro:content";

// Definimos las interfaces de tipos de datos que vamos a manejar
interface TechItem { 
  title: string; 
  tech: string[]; 
}

interface ProjectItem{
  slug: string;
  data: {
    title: string;
    ShortDescription: string;
  }
}

// Obtenemos la colección de proyectos desde los archivos MDX
const projects: ProjectItem[] = await getCollection("projects");

// Definimos los elementos de tecnologías que se mostrarán
const techItems: TechItem[] = [ 
  { 
    title: "Desarrollo Web", 
    tech: ["HTML", "CSS", "JavaScript", "DexExtreme"] 
  }, 
  { 
    title: "Lenguajes de Programacion", 
    tech: ["C#", "C++", "Java"] 
  }, 
  { 
    title: "Herramientas", 
    tech: ["VS Code", "Visual Studio", "MySQL WorkBench"] 
  } 
];
---

<Layout title="Profile" header="Mi Encabezado">   
  <section id="technologies" class="mb-8"> 
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Mis Habilidades</h2> 
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4"> 
      { techItems.map((item) => ( 
        <TechCard title={item.title} tech={item.tech} /> 
      )) }
    </div> 
  </section> 

  <section id="projects">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Proyectos Trabajados</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      { projects.map((p) => (
        <ProjectCards
          title={p.data.title}
          description={p.data.ShortDescription}
          link={`/projects/${p.slug}`}
        />
      ))}
    </div> 
  </section> 
</Layout>